[user]
	name = Alfredo Deza
	email = <alfredo@deza.pe>
[color]
	ui = true
[branch]
	autosetuprebase = always
[push]
	default = tracking
[format]
    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
	workprofile = config user.email \"alfredo.deza@inktank.com\"
[merge]
    tool = vimdiff
	conflictstyle = diff3
