[submodule ".vim/bundle/bondsman.vim"]
    path = .vim/bundle/bondsman.vim
    url = git://github.com:alfredodeza/bondsman.vim.git
[submodule ".vim/bundle/pytest.vim"]
	path = .vim/bundle/pytest.vim
	url = git://github.com:alfredodeza/pytest.vim
[submodule ".vim/bundle/fugitive.vim"]
	path = .vim/bundle/fugitive.vim
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/snipmate.vim"]
    path = .vim/bundle/snipmate.vim
    url = git://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/khuno.vim"]
	path = .vim/bundle/khuno.vim
	url = git://github.com:alfredodeza/khuno.vim.git
[submodule ".vim/bundle/chapa.vim"]
	path = .vim/bundle/chapa.vim
	url = git://ithub.com:alfredodeza/chapa.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".zsh-plugins"]
	path = .zsh-plugins
	url = git://github.com:alfredodeza/zsh-plugins.git
